body {
	width:    100vw;
	height:   100vh;
	margin:   0;
	overflow: hidden;
}

#floaty {
	position:       absolute;
	left:           0px;
	top:            0px;
	height:         400px;
	width:          400px;
	min-height:     150px;
	min-width:      160px;
	border:         solid thin black;
	background:     rgba(255,255,255,0.6);
	display:        flex;
	flex-direction: column;
}

#floaty-bar {
	cursor:           move;
	background-color: #ddd;
	user-select:      none;
	display:          flex;
	justify-content:  space-between;
	border-bottom:    solid thin black;
	padding:          2px;
}

#floaty-bar > span {
	margin-left:  5px;
	margin-right: 5px;
}

#floaty-left,
#floaty-right {
	cursor: pointer;
}

#floaty-slides {
	flex:  1;
	width: 100%;
	overflow: hidden;
}

#floaty-slides > div {
	display: none;
}

#slide-options > div {
	height:     100%;
	overflow-y: auto;
}

#floaty-corner {
	position:     absolute;
	bottom:       0;
	right:        0;
	cursor:       se-resize;
	border-style: solid;
	border-width: 0 0 10px 10px;
	border-color: transparent transparent black transparent;
}

svg .tick > line {
	stroke: lightgrey;
}

svg .tick:first-of-type > line {
	display: none;
}

svg .y-axis .tick:first-of-type > text {
	display: none;
}

svg .graph > path {
	fill: none;
	stroke: steelblue;
}

svg .r-axis .tick > circle {
	fill: none;
	stroke: lightgrey;
	stroke-dasharray: 4;
}

svg .r-axis .tick.unit > circle {
	stroke: grey;
	stroke-dasharray: none;
}

svg .r-axis .tick > text {
	color: grey;
	font-size: 9pt;
	text-anchor: middle;
}

svg .r-axis .tick:first-of-type > text {
	display: none;
}

svg .t-axis .tick > line {
	stroke: lightgrey;
	stroke-dasharray: 4;
}


